/*Any general styling on page*/
body {
  font-family: "Arial Narrow";
}
/*end of general page styling*/
/*beginning of nav bar styling*/
#navigationBar {
  background: #24292e;
  box-shadow: 0px 1px 10px 10px #ddd;
  height: auto;
  text-align: center;
  width: 100%;
}
#navigationBar > ul > li {
  display: inline;
}
#navigationBar > ul > li > a {
  color: whitesmoke;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;
  text-decoration: none;
}
#navigationBar > ul > li > a:hover {
  color: gold;
}
/*End of nav bar styling*/
/*styling of the background image*/
body {
  background-image: url(Resources/SIMPLICITY.png);
  background-size: 70px;
  background-repeat: repeat;
}
/*end of background image styling*/
/*styling to manipulate my footer to stay below the viewport*/
#page-container {
  position: relative;
  min-height: 75vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
/* end of styling to manipulate footer*/

/*below styling is for new employee page*/
/*flex box that contains any of the pages content*/
.box.flex {
  display: flex;
  justify-content: center;
}

.box {
  padding: 50px;
  height: 300px;
  width: 1000px;
  box-shadow: 2px 2px 5px #24292e;
  border-radius: 4px;
  margin: auto;

  color: #24292e;
  font-family: "Lucida Console", monospace;
  background: whitesmoke;
  border: 2px solid #24292e;
}
/*end of flex box styling*/
/*Styling of the form box*/
.formbox {
  background: whitesmoke;
}
/*end of form styling*/
/*End of styling for new employee page*/

/*below styling is for about us page*/
/* flex box styling for about us content*/
.box.flex {
  display: flex;
  justify-content: center;
}

.about-us-flex {
  padding: 50px;
  height: 300px;
  width: 1000px;
  box-shadow: 2px 2px 5px #24292e;
  border-radius: 4px;
  margin: auto;

  color: #24292e;
  font-family: "Lucida Console", monospace;
  background: whitesmoke;
  border: 2px solid #24292e;
}
/*end of flex box styling*/
/*end of styling for about us*/
